doctype html
html
  head
    meta(charset="utf-8")
    title= title
  body
    h1 Reset your Password now.
    p We have send an email to #{data.email}. Please use the link to set up a new password. Afterwards you can log yourself in and use our platform.
