doctype html
html
  head
    meta(charset="utf-8")
    title= title
  body

    //- Error Case
    if(error != null)
      div.error #{error}


    form(method="POST")
      input(type="text" name="email" placeholder="email" value=(error != null ? data.email : '') required)
      input(type="password" name="password" placeholder="password" value="" title="Pas" required)
      input(type="submit" name="submit" value="Log in")

    a(href="/auth/password-reset") forgot password?
