extends ../layout.pug

//- Stylesheets exclusive for this subpage
block styles
  link(rel='stylesheet', href='/styles/helpers.css')
  link(rel='stylesheet', href='/styles/auth_login.css')

//- Stylesheets exclusive for this subpage
block scripts

//- Main content to extend the Layout template
block content

  //- LOGIN HEADER MODULE
  div#header_module
    svg(class="diagonal_shape" viewBox="0 0 100 10" preserveAspectRatio="none")
      path(d="M 0,0 L 100,0 100,4 0,10 z" style="fill: white;")
    - var rnd = Math.floor((Math.random()*7)+1)
    div(class="avatar" style="background-image:url('/images/avatars/avatar"+rnd+".png')")


  //- FORGOT PASSWORD BODY
  div#login_module(class="green_gradient")
    h1 Forgot Password?
    p If you forgot your password, please provide us with your email adress. So we can verify you and ask you to set a new password.

    form(method="POST")
      if(error != null)
        div.error=error
      input(type="text" name="email" placeholder="Email" value=(error != null ? data.email : '') required)
      input(type="submit" name="submit" value="Reset")

    a(href="/login") BACK TO LOGIN
