extends ../layout.pug

//- Stylesheets exclusive for this subpage
block styles
  link(rel='stylesheet', href='/styles/helpers.css')
  link(rel='stylesheet', href='/styles/auth_register.css')

//- Stylesheets exclusive for this subpage
block scripts

//- Main content to extend the Layout template
block content

  //- REGISTER HEADER MODULE
  div#header_module
    svg(class="diagonal_shape" viewBox="0 0 100 10" preserveAspectRatio="none")
      path(d="M 0,0 L 100,0 100,4 0,10 z" style="fill: white;")
    img(class="avatar" src="/images/avatars/avatar1.png" alt="avatar")


  //- LOGIN BODY
  div#register_module(class="green_gradient")
    h1 Register

    form(method="POST")

      div.reg_block
        h3 Profile Data
        if(error != null)
          div.error=error
        input(type="text" name="username" placeholder="Username*" value=(error != null ? data.username : '') pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,15}$" required)
        input(type="text" name="first_name" placeholder="First name*" value=(error != null ? data.first_name : '') pattern="^[a-zA-Z\-]{1,20}$" required)
        input(type="text" name="last_name" placeholder="Last name*" value=(error != null ? data.last_name : '') pattern="^[a-zA-Z\-]{1,20}$" required)
        input(type="text" name="email" placeholder="E-mail*" value=(error != null ? data.email : '') pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required)
        input(type="password" name="password" placeholder="Password*" value="" pattern=".{8,}" title="At least 8 characters long" required)
        input(type="password" name="confirm_password" placeholder="Confirm password*" value="" pattern=".{8,}" title="At least 8 characters long" required)


      div.reg_block
        h3 User Data
        input(type="text" name="address" placeholder="Current address" value=(error != null ? data.address : ''))
        input(type="text" name="age" placeholder="Age" value=(error != null ? data.age : ''))
        select(type="text" name="gender" placeholder="Gender")
          option(value="") Gender
          option(value="male") male
          option(value="female") female
        input(type="text" name="profession" placeholder="Profession" value=(error != null ? data.profession : ''))


      input(type="checkbox" id="terms" name="terms" required)
      a(href="#") TERMS & CONDITIONS


      input(type="submit" name="submit" value="Register")
