//-******************************************************/
//- This file contains the HTML Modules
//-******************************************************/


//- LOGO MODULE
mixin logoModule
  div#logo_module(class="centered")
    svg(class="diagonal_shape" viewBox="0 0 100 10" preserveAspectRatio="none")
      path(d="M 0,0 L 100,0 100,4 0,10 z" style="fill: white;")
    img(class="logo_80percent" src="/images/logo.png" alt="Creativity has no Borders - Logo")
    span.pink_subline
