doctype html
html
  head
    meta(charset="utf-8")
    title= title
  body
    h1 Thanks for registering.
    p We have send an email to #{data.email}. Please confirm the registration using the link. Afterwards you can log yourself in and use our platform.
