doctype html
html
  head
    //- Metadata
    meta(charset='utf-8')
    meta(name='author' content='Papel & Caneta')
    meta(name='description' content='Creativity has no borders gives refugees and agencies a chance to find each other.')
    meta(name='keywords' content='creativity, refugees, no borders, papel, caneta')
    meta(name='copyright' content='creativityhasnoborders.com')
    meta(name='robots' content='index, follow')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

    //- Title
    title= title

    //- Stylesheets
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Josefin+Sans:700|Roboto+Condensed:400,700')
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/layout.css')
    block styles

    //- Pre-Scripts
    script(src='/js/jquery-3.2.1.min.js')
    script(src="/js/popper.js")
    script(src='/js/bootstrap.min.js')
    script(src="/js/itemslide.min.js")
    script(src='https://use.fontawesome.com/289ece6f72.js')
    block scripts

  body
    //- Navbar
    nav(role="navigation" class="navbar navbar-light fixed-top")
      a(class="navbar-brand" href="/")
        img(src="/images/logo-icon.png" width="auto" height="45" style="clear:both;" alt="logo | creativityhasnoborders")
      div.burgermenu
        span.menu-text Menu
        i(class="burgermenu-icon fa fa-bars" aria-hidden="true")


    //- Interactive Menu
    div#menu-overlay
      a(class="logo" href="/")
        img(src="/images/logo-icon.png" width="auto" height="45" style="clear:both" alt="logo | creativityhasnoborders")
      div.close-menu

      div.menu-list
        ul.m1
          a(href="/")
            li Home
          a(href="/portfolios")
            li All Portfolios
          if(data.user && data.user.isAuthenticated)
            a(href="/u/"+data.user.username)
              li Your Portfolio
          else
            a(href="/login")
              li Your Portfolio
          a(href="/challenges")
            li Challenges
          a(href="/about")
            li About
          a(href="/partners")
            li Partners
          if(data.user && (data.user.isAdmin || data.user.isMod || data.user.isAgencyUser))
            a(href="/admin")
              li Moderation

        ul.m2
          if(data.user && data.user.isAuthenticated)
            a(href="/logout")
              li Logout
          else
            a(href="/login")
              li Login
          a(href="/imprint")
            li Imprint
          a(href="/privacy")
            li Privacy

    //- Content
    block content



    //- Footer
    footer#footer
      a(class="footer-logo" href="/")
        img(src="/images/logo.png" alt="logo | creativityhasnoborders")

      p
        | <strong>Creativity has no borders.</strong> <br>
        | A project by Papel & Caneta.
        | We offer a future to creative refugees and people in need. <br>

      p
        | <strong>#CreativityHasnoBorders</strong>

      div.copyright
      //-  Copyright 2017 creativityhasnoborders.com. All rights reserved.


    //- Scripts
    script.



      //- Toggle Overlay Menu
      var menu_open = false;
      $(".burgermenu").on("click", function(){
        $("#menu-overlay").show();
        $("body").css('overflow','hidden');
        menu_open = true;
      });

      $(".close-menu").on("click", function(){
        $("#menu-overlay").hide();
        $("body").css('overflow','auto');
        menu_open = false;
      });

      //- Prevent Bodyscrolling on mobile devices
      $(document).on('touchmove', function (e) {
        if(menu_open) e.preventDefault();
      });
