doctype html
html
  head
    meta(charset="utf-8")
    title= title
  body


    //- Regular Case
    if(error === null)
      form(method="POST")
        input(type="text" name="email" placeholder="email" value="" required)
        input(type="submit" name="submit" value="Reset")
