extends ../layout.pug
include ../modules/mixins_index.pug


//- Stylesheets exclusive for this subpage
block styles
  link(rel='stylesheet', href='/styles/helpers.css')
  link(rel='stylesheet', href='/styles/index_about.css')

//- Stylesheets exclusive for this subpage
block scripts

//- Main content to extend the Layout template
block content

  //- LOGO MODULE
  +logoModule

  //- ABOUT US
  div#about_us(class="main_wrapper")
    div.top_gradient_box(class="pink_gradient")
      h1(class="blue_text")= data.modules[0].title
      span.pink_subline
    div.content_wrapper
      p
        | We offer a future to creative refugees and people in need.
        | <br><strong>#CreativityHasNoBorders</strong>
      iframe(src="https://player.vimeo.com/video/200639677" style="display:block;position:relative;width:100%;height:30vmax; margin:2.5vmax auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
      a(href="#" target="_blank")
        div.button(class="green_bg") Download Pressmaterial


  //- PAPELECANTEA
  div#papelecaneta(class="main_wrapper")
    div.content_wrapper
      h3 Papel & Caneta
      p A platform by Papel & Caneta, Creative Lab Germany
      a(href="http://papelecaneta.org/en/" target="_blank")
        div.button(class="red_bg") papelecaneta.org/en/



  //- TEAM
  div#team(class="diagonal_box")
    svg(class="diagonal_shape" viewBox="0 0 100 10" preserveAspectRatio="none")
      path(d="M 0,0 L 100,0 100,4 0,10 z" style="fill: white;")
    div.inner_wrapper
      h1(class="red_text") Team


      div#team_list(class="list")
        ul.list_wrapper
          li
            div.image(style="background-image:url('images/about/ina.jpg')")
            div.content
              h4 Ina Behrendt
              p MANAGING DIRECTOR DIGITAL
          li
            a(href="https://clemensgrunewald.com")
              div.image(style="background-image:url('images/about/clemens.jpg')")
              div.content
                h4 Clemens Grunewald
                p Creative Technologist
          li
            div.image(style="background-image:url('images/about/eddie.jpg')")
            div.content
              h4 Eddie Flau
              p Conceptual Copywriter
          li
            div.image(style="background-image:url('images/about/adrian.jpg')")
            div.content
              h4 Adrian Finzelberg
              p Creative Director
          li
            div.image(style="background-image:url('images/about/annika.jpg')")
            div.content
              h4 Annika Richter
              p Art Director
          li
            div.image(style="background-image:url('images/about/franziska.jpg')")
            div.content
              h4 Franziska Flau
              p Creative Director art
          li
            div.image(style="background-image:url('images/about/samuel.jpg')")
            div.content
              h4 Samuel Moon
              p Senior Copywriter
          li
            div.image(style="background-image:url('images/about/andrey.jpg')")
            div.content
              h4 Andrey Potekhin
              p Creative
          li
            div.image(style="background-image:url('images/about/veronika.jpg')")
            div.content
              h4 Veronika Ziegler
              p Interactive Developer
          li
            div.image(style="background-image:url('images/about/ilies.jpg')")
            div.content
              h4 Iliès Terki
              p Creative Filmmaker
          li
            div.image(style="background-image:url('images/about/alina.png')")
            div.content
              h4 Alina Kadlubsky
              p Digital Designer
          li
            div.image(style="background-image:url('images/about/lilli.jpg')")
            div.content
              h4 Lilli Owsianowski
              p Conceptual Copywriter
          li
            div.image(style="background-image:url('images/about/chen.jpg')")
            div.content
              h4 Chen Yaarii
              p innovative creative
          li
            div.image(style="background-image:url('images/about/nataliia.png')")
            div.content
              h4 Nataliia Benivska
              p Art Director
          li
            div.image(style="background-image:url('images/about/marika.jpg')")
            div.content
              h4 Marika Schepers
              p Digital Designer
          li
            div.image(style="background-image:url('images/about/claudio.jpg')")
            div.content
              h4 Claudio Burtschenko
              p Creative Director

  div#contact_us
    div.content_wrapper
      h1(class="red_text") CONTACT US
      p <strong> #CreativityHasnoBorders </strong>
      a(href="mailto:contact@chnb.de")
        div.button(class="blue_bg") CONTACT@CHNB.DE
