extends ../layout.pug
include ../modules/mixins_index.pug


//- Stylesheets exclusive for this subpage
block styles
  link(rel='stylesheet', href='/styles/helpers.css')
  link(rel='stylesheet', href='/styles/index_index.css')

//- Stylesheets exclusive for this subpage
block scripts

//- Main content to extend the Layout template
block content

  //- LOGO MODULE
  +logoModule

  //- THE PROJECT MODULE
  div#project_module(class="main_wrapper")
    div.top_gradient_box(class="red_gradient")
      h1= data.modules[0].title.substring(0, data.modules[0].title.indexOf(" "))
      h1= data.modules[0].title.substring(data.modules[0].title.indexOf(" ")+1, data.modules[0].title.length)
      span.pink_subline
    div.project_goals
      img(class="goals" src="images/index_project_goals.png")
      a(href="/about")
        div.button(class="blue_bg") About us


  //- YOUR PORTFOLIO MODULE
  div#your_portfolio_module(class="diagonal_box")
    div.wrapper
      svg(class="diagonal_shape" viewBox="0 0 100 10" preserveAspectRatio="none")
        path(d="M 0,0 L 100,0 100,4 0,10 z" style="fill: white;")
      div.inner_wrapper
        h1(class="red_text") YOUR
        h1(class="red_text") PORTFOLIO.
        span.pink_subline
        div.body_gradient_box(class="pink_gradient")
          p
            | Let creativity be your ambassador!
            | We don't care about education, experience, gender, age, or cultural background. We care about your ideas and your devotion/passion. Put your creativity to the test and let our partner from the creative industry in Germany recognize you.
      div.white_box
        a(href="/register")
          div.button(class="pink_bg") Sign up Now


  //- YOUR CHALLENGES MODULE
  div#your_challenges_module(class="diagonal_box")
    svg(class="diagonal_shape" viewBox="0 0 100 10" preserveAspectRatio="none")
      path(d="M 0,0 L 100,0 100,4 0,10 z" style="fill: white;")
    div.inner_wrapper
      h1 YOUR
      h1 CHALLENGES.
      span.pink_subline
      p
        | Tasks based on actual marketing problems that prove the skills in various fields of expertise. <br>
        | Take part and your creative solutions will stock up your portfolio.
    div.white_box
      a(href="/challenges")
        div.button(class="blue_bg" style="margin-top:-5px;") See Challenges



  //- OUR PARTNER MODULE
  div#our_partners_module(class="diagonal_box")
    svg(class="diagonal_shape" viewBox="0 0 100 10" preserveAspectRatio="none")
      path(d="M 0,0 L 100,0 100,4 0,10 z" style="fill: white;")
    div.inner_wrapper
      h1(class="pink_text") OUR
      h1(class="pink_text") PARTNERS.
      span.pink_subline
      div.body_gradient_box(class="red_gradient")
        p Even supporters need support. Here is a list of our partners that help us in helping you to become successful.

        ul.partner_list
          li
            a(href="https://www.miamiadschool.de")
              img(src="/images/partners/miami-ad-school.png")
          li
            a(href="http://www.papelecaneta.org/en")
              img(src="/images/partners/papelcaneta.png")
          li
            a(href="http://www.joblinge.de")
              img(src="/images/partners/joblinge.png")
          li
            a(href="https://www.arbeitsagentur.de/")
              img(src="/images/partners/arbeitsamt.png")
          li
            a(href="www.team-arbeit-hamburg.de/")
              img(src="/images/partners/team-arbeit-hamburg.png")
    div.white_box
      a(href="/partners")
        div.button(class="red_bg") Our Partners


  //- CONTACT US
  div#contact_us
    div.content_wrapper
      h1(class="red_text") CONTACT US
      p <strong> #CreativityHasnoBorders </strong>
      a(href="mailto:contact@chnb.de")
        div.button(class="blue_bg") CONTACT@CHNB.DE
