/*- Admin Dashboard Style -*/


::-webkit-scrollbar {
    display: none;
}

/* Admin Dashboard */

.button {
  margin-top:30px;margin-bottom:30px;
}

#reported_projects, #challenges, #reported_users {
  position:relative;
  list-style: none;
  margin-bottom:30px;
}
#reported_projects li, #challenges li {
  list-style: none;
  padding: 0 5px;
  margin-left:5px;
  margin-bottom:5px;
  border-left:3px solid rgb(255,76,50);
  color: rgba(0,84,104,1);
}

#reported_projects li:nth-child(2n+0){
  border-left:3px solid rgba(158,240,225,1);
}

#reported_projects li:nth-child(3n+0){
  border-left:3px solid rgba(159,200,28,1);
}

#challenges li {
  border-left:3px solid rgb(159,200,28);
}


/* Challenge New */
h4 {
  margin-top:20px;
}

form input, form select{
  position:relative;
  width:100%;
  height:6vh;
  padding:5px 10px;
  background:rgba(0,84,104,1);
  border:0;
  border-radius: 0;
  margin:5px 0;
  color:white;
  font-size:4vmin;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.checkbox_label {
  display:inline-block;
  line-height: 6vh;
  font-family: 'Josefin Sans', sans-serif;
  font-weight:bold;
  color: rgba(0,84,104,1);
  font-size:4vmin;
  text-transform: uppercase;
}

input[type="checkbox"] {
  display:inline-block;
  position:relative;
  width:6vh;
  height:6vh;
  background:rgba(158,240,225,1);
  border:0;
  border-radius: 0;
  margin:10px 10px 15px 0;
  color:white;
  font-size:4vmin;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
    background: rgba(255,76,50,1);
}


input[type="checkbox"]:checked:after {
    content: "\2713";
    color: #fff;
    font-size:20px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

textarea {
  margin-top:-2.5px;
}
