/*- General Style -*/
/*


//- Main Colors
red 255|76|50 rgb(255,76,50)
dark blue 0|84|104 rgba(0,84,104,1)

//- Additional Colors
pink 243|55|165 rgba(243,55,165);
light green 159|200|28
light blue 158|240|225


font-family: 'Josefin Sans', sans-serif; // headlines
font-family: 'Roboto Condensed', sans-serif; // bold subhead, regular copy


padding from sides:

footer
font-size 3.7vmin
*/
::-webkit-scrollbar {
    display: none;
}

input:focus,select:focus,textarea:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}


* {
  margin:0;
  padding:0;
}

body {
  position:relative;
  padding-top:57px;

  background: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:normal;
  color:black;
}

h1, h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight:bold;
  color: rgba(0,84,104,1);
}

h1 {
  font-size:10vmin;
  text-transform: uppercase;
}

h2 {
  font-size:6vmin;
  text-transform: uppercase;
}

h3 {
  font-size:5vmin;
  text-transform: uppercase;
}

h4 {
  font-size:4vmin;
  text-transform: uppercase;
}

p {
  font-size: 4vmin; /*18px */
  color: rgba(0,84,104,1);
  letter-spacing:1.1px;
  line-height:5.2vmin; /*26px*/
}

a, a:hover {
  text-decoration: none;
  color: rgba(0,84,104,1);
}



/*- Navigationbar  -*/
.navbar {
  padding:0px 15px;
  margin:0;
  z-index:10;
}

nav {
  height:60px;
  background:rgba(0,84,104,1);
  border-bottom:1px solid rgba(0,0,0,0.05);
}

nav .menu-text {
  position:absolute;
  right:65px;
  color:white;
  font-weight:200;
  font-size:14px;
  line-height:60px;
}

nav .burgermenu-icon {
  color:rgba(255,255,255,1);
  font-size:28px;
  line-height:60px;
  transform: scale(1.5,1);
  margin-right:10px;
}

nav .burgermenu:hover {
  cursor:pointer;
}


/*- Interactive Menu  -*/
#menu-overlay {
  display:none;
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background:rgba(0,84,104,1);
  z-index:100;
  opacity:1;
  padding:7.5px 15px;
  box-sizing: border-box;
  color:white;
  overflow:hidden;
}

#menu-overlay .close-menu {
  position:absolute;
  top:-7.5px;
  right:20px;
  color:white;
  font-size:45px;
  cursor:pointer;
}

#menu-overlay .close-menu:after{
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
  transform: scale(1.1,1);
}

#menu-overlay .menu-list {
  position:relative;
  width:100%;
  height:92vh;
  padding:8vmin 0 0 0;
  box-sizing: border-box;
  overflow: scroll;
}

#menu-overlay .menu-list .m1 {
  margin-bottom:16vmin;
}

#menu-overlay .menu-list ul a {
  list-style: none;
  text-transform: uppercase;
  color:white;
}

#menu-overlay .menu-list .m1 li {
  color:rgba(160,230,220,0.85);
  font-size:7vmin;
  font-weight:bold;
  line-height: 2.2em;
  letter-spacing: 0.25em;
}

#menu-overlay .menu-list .m2 li {
  color:rgba(160,230,220,0.85);
  font-size:4vmin;
  font-weight:200;
  line-height: 2.1em;
  letter-spacing: 0.1em;
}

#menu-overlay .menu-list li:hover {
  margin-left:5px;
  color:rgba(255,255,255,1);
}


/* ModtoolBar */
#mod-toolbar {
  position:relative;
  width:100%;
  height:10vmin;
  padding:0px 3vmin;
  box-sizing: border-box;
  background:rgb(255,76,50);
  border-bottom:1px solid rgb(230,50,30);
  line-height:10vmin;
  font-size:3vmin;
  font-weight:bold;
  color:white;
}

#mod-toolbar a {
  color:white;
}

#mod-toolbar .mod-controls {
  position:absolute;
  top:0;
  right:0;
  height:10vmin;
  width:auto;
  z-index:2;
}

#mod-toolbar .mod-controls .controls {
  display:inline-block;
  margin-right:3vmin;
  text-align: right;
  cursor:pointer;
  color:white;
  font-weight:normal;
}

.mod-comment-control {
  position:absolute;
  top:2px;
  right:2px;
  width:3vmin;
  height:3vmin;
  background-image:url('../images/icons/cross.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  filter:invert(1);
}




/*- Footer  -*/
footer {
  position:relative;
  width:100%;
  height:auto;
  margin-top:0px;
  padding: 70px 10% 5px 10%;
  background:rgba(158,240,225,1);
  font-family: 'Roboto Condensed', sans-serif;
  color:rgba(0,84,104,1);
  letter-spacing: 0.9px;
}

footer a {
  margin-top:-15px;
  color:rgba(0,84,104,1);
}

footer a:hover {
  color:rgba(0,84,104,1);
}

footer .footer-logo img{
  position:relative;
  display:block;
  margin:0 auto;
  margin-bottom:35px;
  height:10vh;
  max-height:100px;
  width:auto;
}

footer p {
  padding:0;
  margin:0 0 15px 0;
  font-size:3.7vmin;
  line-height: 4.5vmin;
  text-align: center;
}

footer .copyright {
  padding:0;
  margin:70px auto 5px auto;
  font-size:8px;
}



/*- HELPERFUNCTIONS -*/
.pink_subline {
  position:relative;
  display:inline-block;
  width:7.5%;
  height:5px;
  top:-10px;
  margin-bottom:5px;
  background:rgba(243,55,165,1)
}




/* GRADIENTS */
.red_gradient {
  background:linear-gradient(rgba(255,255,255,0),rgba(255,76,50,1));
}

.pink_gradient {
  background:linear-gradient(rgba(255,255,255,0), rgba(243,55,165,1));
}

.green_gradient {
  background:linear-gradient(rgba(255,255,255,0), rgba(159,200,28,1));
}

.cyan_gradient {
  background:linear-gradient(rgba(255,255,255,0), rgba(158,240,225,1));
}

/* BACKGROUNDS */
.red_bg {
  background:rgba(255,76,50,1);
}

.blue_bg {
  background:rgba(0,84,104,1);
}

.pink_bg {
  background:rgba(243,55,165,1);
}

.green_bg {
  background:rgba(159,200,28,1);
}

.cyan_bg {
  background:rgba(158,240,225,1);
}

/* TEXTCOLOR */
.red_text{
  color:rgba(255,76,50,1);
}

.blue_text{
  color:rgba(0,84,104,1);
}

.pink_text{
  color:rgba(243,55,165,1);
}

.green_text {
  color:rgba(159,200,28,1);
}

.cyan_text {
  color:rgba(158,240,225,1);
}
