
/*- Profile Module -*/
#profile_module {
  padding:6vh 5% 0px 5%;
}

#profile_module h1 {
  text-transform: uppercase;
  font-size:8vmin;
}

h4 {
  margin-top:20px;
}

.edit {
  position:absolute;
  top:2vh;
  right:2vh;
  text-align: right;
  color:rgba(0,84,104,1);
  font-size:14px;
  line-height:30px;
  text-align: center;
  cursor:pointer;
}

.profile_info .personal, .profile_info .professional {
  font-weight:bold;
  font-size:5vmin;
  line-height:6.5vmin;
  margin:0;
}

.profile_info .bio {
  padding-top:10px;
}



/* Project List */
.list_wrapper {
  margin-bottom:30px;
}

.list_wrapper a li {
  display:inline-block;
  position:relative;
  width:42.5vw;
  min-height:100px;
  margin: 2.5vw 2.5vw 2.5vw 5vw;
  font-size:4vmin;
  text-align: left;
  vertical-align: top;
}

.list_wrapper a:nth-child(even) li {
  margin: 2.5vw 5vw 2.5vw 2.5vw;
}

.list_wrapper li .image {
  position:relative;
  width:42.5vw;
  height:40vw;
  padding:0;
  background: lightgrey;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

.list_wrapper li .content {
  position:relative;
  width:100%;
  min-height:50px;
  padding:10px 5px 0 5px;
  box-sizing: border-box;
}

.list_wrapper li .content h4 {
  position:relative;
  margin:0;
  margin-bottom:0.5vh;
}

.list_wrapper li .content p {
  position:relative;
  font-size:3vmin;
  line-height: 4.2vmin;
}
